# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp*
.pnp.js
.pnp.cjs

# Next.js
.next/
out/

# Logs
logs
*.log

# Testing
coverage/

# Env
.env
.env.*
!.env.example
!.env.development
!.env.staging
!.env.production

# Python
__pycache__/
*.py[cod]
*.venv/
.venv/
venv/

# Prisma
prisma/migrations/

# Docker
*.pid

# Misc
.DS_Store
.idea/
.vscode/

# env / secrets
.env*
web/.env*

# editor backups / junk
*.save
*lsof*
